.artist-card {
  width: 60%;
  height: 180px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
  padding: 20px 100px;
  letter-spacing: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
 
}
.artist > p {
  border-bottom: 3px solid black;
}

@media screen and (max-width: 920px) {
  .artist-card {
    width: 90%;
    padding: 10px;
    flex-direction: column;
  }
}
