* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 196, 196);
}

.icon-theme {
  font-size: 50px;
  margin: 15px;
}


